<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <title>Currency Exchange Rate</title>
</head>
<body>
    <section id="converter">
        <h1 id="title">Exchange Rate Fetcher</h1>
        
        <p>Around 330 currencies to choose from.</p>

        <div id="interaction">
            <!-- <label for="from"></label> -->
            <input id="fromInput" type="text" list="fromCurrencies" autocomplete="off" placeholder="Choose Currency to Convert:">
            <datalist id="fromCurrencies"></datalist>
        
            <input type="number" id="amount" placeholder="Enter Amount to Convert" value="1" >
        
            <!-- <label for="to">Choose Currency to Convert to:</label> -->
            <input id="toInput" type="text" list="toCurrencies" autocomplete="off" placeholder="Choose Currency to Convert:">
            <datalist id="toCurrencies"></datalist>
        </div>

        <div>
            <button onclick="convertCurrency()">Convert Currency</button>
        </div>

        <p id="conversionResult"></p>
    </section>
    <script src="{{ url_for('static', filename='index.js') }}"></script>
</body>
</html>