<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <title>Currency Exchange Rate</title>
</head>
<body>
    <section id="converter">
        <h1 id="title">Currency Exchange Rate Fetcher</h1>
        
        <p>Around 330 currencies to choose from.</p>

        <div id="interaction">
            <div class="dropdown">
                <div class="selection">
                    <input id="fromSearch" type="text" placeholder="Choose Currency to Convert:" 
                    onkeyup="filterCurrencies('fromSearch', 'fromCurrencies')">
                    <button class="dropbtn" onclick="toggleDropdown('fromCurrencies')">▼</button>
                </div>
                <select id="fromCurrencies" class="dropdown-content" size="5"></select>
            </div>
        
            <input class="num-select" type="number" id="amount" placeholder="Enter Amount to Convert" value="1" >
        
            <div class="dropdown">
                <div class="selection">
                    <input id="toSearch" type="text" placeholder="Choose Currency to Convert:"
                    onkeyup="filterCurrencies('toSearch', 'toCurrencies')">
                    <button class="dropbtn" onclick="toggleDropdown('toCurrencies')">▼</button>
                </div>
                <select id="toCurrencies" class="dropdown-content" size="5"></select>
            </div>
        </div>

        <div>
            <button onclick="convertCurrency()">Convert Currency</button>
        </div>

        <p id="conversionResult"></p>
    </section>
    <script src="{{ url_for('static', filename='index.js') }}"></script>
</body>
</html>